body {
  background: radial-gradient(rgba(182, 186, 186, 0.1), rgba(207, 209, 209, 0.6));
  height: 100%;
  width: 100%;
}

#googleMaps {
  width:400px;
  height:350px;
  float:left;
  margin-bottom:5px;
  margin-top: 5px;
  padding: 5px;
}
#wmsKart {
  float:left;
  margin-left: 5px;
  margin-bottom:5px;
  margin-top: 5px;
  padding: 5px;
}
#overskrift {
  padding: 4px;
  margin:5px;
  font-size: 30px;
  text-shadow: 3px 2px 5px #ff0000;
  font-family: Georgia, serif;
  text-align: center;
}

#fakta{
  font-size: 16px;
  margin: 5px;
  float:left;
  padding:2px;
  width: 400px;
}
p{
  font size: 10;
  line-height: 25px;
}
table, tr, th, th {
  border: 0.5px solid black;
  width: 50%;
  height: 50px;
  text-align: center;
  border-collapse: collapse;
  }
#tabell{
    margin: 5px;
    float:left;
    width: 400px;
  }
/*alt fram til id activ er en del av navigasjonsbaren*/
ul {
    list-style-type: none;
    margin: 2px;
    padding: 0;
    overflow: hidden;
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    background: linear-gradient(to right, black, rgba(191, 191, 191, 1));
}

li {
    display: inline;
    float:left;
}

li a {
  display: block;
    padding: 8px;
    background: white;
    margin-left: 5px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 115px;
    margin-top: 2px;
    margin-bottom: 2px;
    text-decoration: none;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    color:black;
    font-size: 21px;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: bold;
}
@keyframes hover1 {
    from {text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    color:black;}
    to {color: rgba(150, 0, 0, 0.7);text-shadow: 1px 1px rgba(150, 0, 0, 0.5)}
}

li a:hover {
  color: rgba(150, 0, 0, 0.7);
  text-shadow: 1px 1px rgba(130, 0, 0, 0.5);
  animation-name: hover1;
  animation-duration: 0.2s;

}

#link1 {
  float:right;
  margin-right:8px;
}
#active  {
  background: red;
}
