/*Gir en grå bakgrunnfarge som blir hvitere i en sirkel mot midten. denne går på hele bakgrunnen*/
body {
    background: radial-gradient(rgba(182, 186, 186, 0.1), rgba(207, 209, 209, 0.6));
    height:100%;
    width:100%;
}
/*Gir størrelse og plassering av googlemaps kartet med en kant*/
#overskrift {
  padding: 4px;
  margin:5px;
  font-size: 30px;
  text-shadow: 3px 2px 5px #ff0000;
  font-family: Georgia, serif;
  text-align: center;
}


/*alt fram til id activ er en del av navigasjonsbaren*/
/*Dette gir bakgrunnsfarge til knappene*/
ul {
    list-style-type: none;
    margin: 2px;
	margin-right: 1%;
    padding: 0;
    overflow: hidden;
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    background: linear-gradient(to right, black, rgba(191, 191, 191, 1));
}
/*Legger linkene opp mot hverandre/side ved side*/
li {
    display: inline;
    float:left;

}
/*Styler knappene til linkene med farge og ramme. Gir også knappene litt rom fra hverandre*/
li a {
  display: block;
    padding: 8px;
    background: white;
    margin-left: 5px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 115px;
    margin-top: 2px;
    margin-bottom: 2px;
    text-decoration: none;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    color:black;
    font-size: 21px;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: bold;

}
/* Anngir paramater for en animasajon*/
@keyframes hover1 {
    from {text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    color:black;}
    to {color: rgba(150, 0, 0, 0.7);text-shadow: 1px 1px rgba(150, 0, 0, 0.5)}
}
/*Gjør at knappen som pekeren peker på går fra standardfargen til en rødfarge, hjulpet av koden over */
li a:hover {
  color: rgba(150, 0, 0, 0.7);
  text-shadow: 1px 1px rgba(130, 0, 0, 0.5);
  animation-name: hover1;
  animation-duration: 0.2s;

}
/* Flytter "samleside" knappen til høyre og gir litt rom fra høyre kant*/
#link1 {
  float:right;
  margin-right:8px;
}
/* Gir siden/knappen som er aktiv rød bakgrunnsfarge*/
#active  {
  background: red;
}

/*angir hvor mye av siden tabellen skal ta*/
table {
  width: 90%;
  height: 90%;
  margin: 5%;

}
/*Angir stil på kantene i tabellen*/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
/*Angir bakgrunnsfarge på øverste rad i tabelen, Den blir rødere jo lengre ned man kommer*/
th{
  background:linear-gradient(to bottom, rgba(214, 58, 58, 0.4), rgba(255, 13, 13, 0.4));
}
/*angir tekstplassering og størrelse på vær celle i tabellen*/
th, td {
    padding: 20px;
    text-align: center;
    height:100px;
    width: 100px;
}
