body {
  background: linear-gradient(to bottom right, white, rgba(230, 230, 230, 1));
};
#div1  {
  width: 100%;
  overflow: hidden;
}

#wms1  {
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}
