/*Her bestemmes fargen på siden og avstanden mellom linjene */
body {
    background: radial-gradient(rgba(182, 186, 186, 0.1), rgba(207, 209, 209, 0.6));
    height: 100%;
    width:100%;
    line-height: 27px;
}
/* Fra her og fram til #active er til navigasjonsbaren, med farger og ustseende*/
#overskrift {
  padding: 4px;
  margin-top:5px;
  font-size: 30px;
  text-shadow: 3px 2px 5px #ff0000;
  font-family: Georgia, serif;
  text-align: center;
}
/*Dette gir bakgrunnsfarge til knappene*/
#navbarBack {
    list-style-type: none;
    margin: 2px;
	margin-right: 1%;
    padding: 0;
    overflow: hidden;
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    background: linear-gradient(to right, black, rgba(191, 191, 191, 1));
}

/*Legger linkene opp mot hverandre/side ved side*/
#liste {
    display: inline;
    float:left;
}
/*Styler knappene til linkene med farge og ramme. Gir også knappene litt rom fra hverandre*/
#liste a {
  display: block;
    padding: 8px;
    background: white;
    margin-left: 5px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 115px;
    margin-top: 2px;
    margin-bottom: 2px;
    text-decoration: none;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    color:black;
    font-size: 21px;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: bold;
}
/* Anngir paramater for en animasajon*/
@keyframes hover1 {
    from {text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    color:black;}
    to {color: rgba(150, 0, 0, 0.7);text-shadow: 1px 1px rgba(150, 0, 0, 0.5)}
}
/*Gjør at knappen som pekeren peker på går fra standardfargen til en rødfarge, hjulpet av koden over */
li a:hover {
  color: rgba(150, 0, 0, 0.7);
  text-shadow: 1px 1px rgba(130, 0, 0, 0.5);
  animation-name: hover1;
  animation-duration: 0.2s;

}
/* Flytter "samleside" knappen til høyre og gir litt rom fra høyre kant*/
#link1 {
  float:right;
  margin-right:8px;
}
/*Styler knappene til linken "samleside" med farge og ramme. Gir også knappe litt rom fra hverandre*/

#link1 a {
  display: block;
    padding: 8px;
    background: white;
    margin-left: 5px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 115px;
    margin-top: 2px;
    margin-bottom: 2px;
    text-decoration: none;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    color:black;
    font-size: 21px;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: bold;
}
/* Gir siden/knappen som er aktiv rød bakgrunnsfarge*/
li #active {
  background: red;
}
/*Midstiller h1, h3 og p*/
h1, h3, p {
  text-align: center;
}

table {
  width: 90%;
  height: 200px;
  margin: 60px;
}
/* avstand fra "rammene" og farge*/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

/*For å få plassert tabellene uten ramme på midten og hvor bredt teksten skal stå*/
#tabell_1 {
  margin: auto;
  width: 20%;
  padding: 10px;
}
/*For å få plassert tabellene uten ramme på midten og hvor bredt teksten skal stå*/
#tabell_2 {
    margin: auto;
    width: 50%;
    padding: 10px;
}
/*For å få plassert tabellene uten ramme på midten og hvor bredt teksten skal stå*/
#tabell_3 {
    margin: auto;
    width: 20%;
    padding: 10px;
}
/*Denne er rett og slett til for å avstand etter denne tabellen*/
#sisteTabell{
  margin-bottom:100px;
}
