body {
    background: radial-gradient(rgba(182, 186, 186, 0.1), rgba(207, 209, 209, 0.6));
    height: 100%;
    width:100%;
    line-height: 27px;
}
/* Fra her og fram til #active er til navigasjonsbaren*/
#overskrift {
  padding: 4px;
  margin-top:5px;
  font-size: 30px;
  text-shadow: 3px 2px 5px #ff0000;
  font-family: Georgia, serif;
  text-align: center;
}

ul {
    list-style-type: none;
    margin: 2px;
    padding: 0;
    overflow: hidden;
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;


}

#liste {
    display: inline;
    float:left;
}

#liste a {
  display: block;
    padding: 8px;
    background: white;
    margin-left: 5px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 115px;
    margin-top: 2px;
    margin-bottom: 2px;
    text-decoration: none;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    color:black;
    font-size: 21px;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: bold;
}

@keyframes hover1 {
    from {text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    color:black;}
    to {color: rgba(150, 0, 0, 0.7);text-shadow: 1px 1px rgba(150, 0, 0, 0.5)}
}

li a:hover {
  color: rgba(150, 0, 0, 0.7);
  text-shadow: 1px 1px rgba(130, 0, 0, 0.5);
  animation-name: hover1;
  animation-duration: 0.2s;

}

#link1 {
  float:right;
  margin-right:8px;
}

#link1 a {
  display: block;
    padding: 8px;
    background: white;
    margin-left: 5px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 115px;
    margin-top: 2px;
    margin-bottom: 2px;
    text-decoration: none;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    color:black;
    font-size: 21px;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: bold;
}

li #active {
  background: red;
}

h1, h3, p {
  text-align: center;
}
table {
  width: 90%;
  height: 200px;
  margin: 60px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#tabell_overskrift {
  background: linear-gradient(to right, black, rgba(191, 191, 191, 1));
}

#tabell_1 {
  margin: auto;
  width: 20%;
  padding: 10px;
}

#tabell_2 {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  #tabell_3 {
    margin: auto;
    width: 20%;
    padding: 10px;
  }
